In [7]:
import requests
from bs4 import BeautifulSoup
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
import numpy as np
import pickle
from time import sleep


%config InlineBackend.figure_format = 'retina'
%matplotlib inline

sns.set_style('white')

In [34]:
df=pd.read_csv('bgg_gamelist.csv')

In [35]:
df.head()

   gameid     gamename  nratings  gamerank
0      13        Catan     71279       251
1     822  Carcassonne     70895       130
2   30549     Pandemic     66881        64
3   36218     Dominion     58707        59
4   68448    7 Wonders     55341        37

In [37]:
df.shape

(1807, 4)

In [51]:
df2=pd.read_csv('bgg_gamelist_updated.csv')

In [52]:
df2.shape

(2600, 4)

In [53]:
df2.head()

    gameid     gamename  nratings  gamerank
0     13.0        Catan   85291.0     327.0
1    822.0  Carcassonne   85003.0     152.0
2  30549.0     Pandemic   83442.0      75.0
3  68448.0    7 Wonders   69094.0      45.0
4  36218.0     Dominion   68260.0      76.0

In [54]:
null_cols = df2.isnull().sum()
null_cols[null_cols > 0]

gameid      387
gamename    387
nratings    387
gamerank    387
dtype: int64

In [55]:
null_displ = df2[(df2['gamename'].isnull()==True)]
null_displ = null_displ[['gameid', 'gamename', 'nratings', 'gamerank']]
null_displ.head()

     gameid gamename  nratings  gamerank
100     NaN      NaN       NaN       NaN
141     NaN      NaN       NaN       NaN
149     NaN      NaN       NaN       NaN
154     NaN      NaN       NaN       NaN
157     NaN      NaN       NaN       NaN

In [56]:
# Drop all NaNs which corresponds to expansions.
df2.dropna(inplace=True)

In [57]:
df2.shape

(2213, 4)

In [59]:
# Write the DF to .csv for future use
df2.to_csv("bgg_gamelist_perfect.csv", index=False, encoding="utf-8")
df2.head()

    gameid     gamename  nratings  gamerank
0     13.0        Catan   85291.0     327.0
1    822.0  Carcassonne   85003.0     152.0
2  30549.0     Pandemic   83442.0      75.0
3  68448.0    7 Wonders   69094.0      45.0
4  36218.0     Dominion   68260.0      76.0

In [62]:
print ("Number of games with > 1000 ratings is approximately {}".format(len(df2)))
print ("Total number of ratings from all these games is {}".format(df2["nratings"].sum()))

Number of games with > 1000 ratings is approximately 2213
Total number of ratings from all these games is 10658968.0

In [63]:
# Create a column for number of full pages for each game
df2["nfullpages"] = df2["nratings"]//100

games.head()

NameError: name 'games' is not defined